.card {
  width: 30%;
  background: radial-gradient(circle at top, var(--dark-blue), var(--dark-blue-darker));
  border-radius: 30px;
  padding: 2rem;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}